# Configurações da Aplicação
PORT=3000
JWT_SECRET=sua_chave_secreta_jwt_aqui

# Credenciais do Banco de Dados PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=root
POSTGRES_PASSWORD=sua_senha_aqui
POSTGRES_DB=helpdesk_db

# Credenciais de acesso ao Painel do pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@helpdesk.com
PGADMIN_DEFAULT_PASSWORD=sua_senha_do_painel
